{% extends 'base.html.twig' %}

{% block title %}Garage Vincent Parrot - Home page{% endblock %}

{% block body %}
    <article class="index_article_presentation">
        <h2>Garage auto à Toulouse</h2>
        <p>
            Notre garage auto situé à Toulouse propose une large gamme de services : réparation de la carrosserie et de la mécanique
            des voitures, ainsi que leur entretien régulier pour garantir leur performance et leur sécurité.                    
            De plus, le garage V. Parrot met en vente des véhicules d’occasion contrôlés dans notre atelier et garantis 6 mois.                    
            Avec nous, votre véhicule est entre de bonnes mains.
        </p>
    </article>

    <article class="index_article_services">
        <h2>Nos services</h2>
        <div class="index_services_div">
            {% for prestation in prestationList %}
                {% include "partials/prestation/_prestation_block.html.twig" %}
            {% endfor %}
        </section>
    </article>

    <article class="index_article_opinion">
        <h2>Avis des clients</h2>
        <!-- Display the average grade -->
        {% if opinionToDisplay %}
            <h3>Note moyenne :   {{ averageGrade }} / 5</h3>
            <div class="carousel">
                <button class='button' id='previous_button'>&#10096;</button>
                <p id='carousel_comment'> Commentaire : {{ opinionToDisplay.commentary }} </p>
                <p id='carousel_lastname'> De : {{ opinionToDisplay.lastname }} </p>
                <button class='button' id='next_button'>&#10097;</button>
            </div>
            
        {% else %}
            <h3>Note moyenne : Il n'y a pas encore de note</h3>
            <p> Commentaire : Il n'y a pas encore de commentaire </p>
        {% endif %}
        <a class="link" href="{{ path('app_opinion') }}">Laisser un avis</a>
    </article>

{% endblock %}
