/* Reset - START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Reset - END */

/* Polices - START */
@font-face {
    font-family: 'Rajdhani', sans-serif;
    src: url('./fonts/Rajdhani-Regular.ttf') format('truetype');

    font-family: 'Barlow', sans-serif;
    src: url('./fonts/Barlow-Regular.ttf') format('truetype');
}
/* Polices - END */

/* Colors - START */
:root {
    --red: #D94350FF;
    --dark: #262526FF;
    --pale-grey: #F2F2F2FF;
    --pale-red: #D9777FFF;
  }
  /* Colors - END */


/* Static styles - START */
/* Part in commun with all pages - START*/
body {
    display: flex;
    flex-direction: column;
    font-family: Rajdhani, Barlow, sans-serif;
    height: auto;
    z-index: 1;
}

/* Header - START */
header {
    /* Header dimensions */
    height: fit-content;
    width: 100%;

    /* Header colors */
    background-color: var(--dark);
    color: var(--red);

    /* Header arrangement */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logoGarage {
    height: 75px;
    width: auto;
}

.user_label {
    height: fit-content;
    width: auto;   
    margin: 1rem 0;
    padding: 0.2rem;
    border-radius: 0.2rem;

    /* Link colors */
    background-color: var(--pale-red);
    color: var(--dark);
    font: bold 0.8rem "Rajdani", sans-serif;
  }
/* Header - END */

/* Footer - START */
footer {
    /* Footer dimensions */
    height: fit-content;
    width: auto;

    /* Footer colors */
    background-color: var(--dark);
    color: var(--pale-grey);

    /* Footer arrangement */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_section {
    /* Footer section dimensions */
    height: fit-content;
    width: 100%;

    /* Footer section arrangement */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact, .openingHours {
    margin: 0 1rem;
}

#footer_courtesy_popup {
    /* courtesy popup colors */
    background-color: var(--red);
    color: var(--dark);

    /* courtesy popup position in 3D */
    position: relative;
    bottom: 450px;
    z-index: 2;
}
/* Footer - END */

h2 {
    color: var(--red);
    text-align: center;
    font: bold 1.5rem "Rajdani", sans-serif;
    margin: 1rem;
}

h3 {
    color: var(--dark);
    font: bold 1.2rem "Barlow", sans-serif;
}

ul {
    list-style-type: none;
}
li {
    margin: 0.7rem;
}

p {
    margin: 1rem 0;
}

a {
    text-decoration: none;
}

.link, .active-page_link {
     /* Link dimensions */
     height: fit-content;
     width: fit-content;   
     margin: 1rem 0;
     padding: 0.2rem;
     border-radius: 0.2rem;
 
     /* Link colors */
     background-color: var(--red);
     color: var(--dark);
     font: bold 0.8rem "Rajdani", sans-serif;
}

.active-page_link {
    background-color: var(--pale-grey);
}

/* article dimensions */
article {
    height: fit-content;
    width: auto;   
    padding: 5px;
}

img {
    width: 100%;
    height: 15rem;
}

input {
    border-radius: 0.2rem;
    margin: 0.3rem;
    height: auto;
}
/* Part in commun with all pages - END*/


/* Home page - START */

.index_article_services  {
    background-color: var(--dark);
    color: var(--pale-grey);
}

.index_article_presentation, .index_article_opinion, .index_service {
    background-color: var(--pale-grey);
    color: var(--dark);
}

.index_services_div {
    /* services arrangement */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.index_service {
    /* section dimensions */
    height: 20rem;
    width: 20%;

    /* section arrangement */
    padding: 1%;
    text-align: start;
}

.index_article_opinion {
    text-align: center;
}

/* Home page carousel - START */

.carousel {
    position: relative;
    height: 100px;
}

.carousel button {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    font-size: 3rem;
    z-index: 2;
    cursor: pointer;
    color: var(--dark);
    transform: translateY(-50%);
    top: 50%;
}

#previous_button {
    left: 5px;
}

#next_button {
    right: 5px;
}

.slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.slide .inactive {
    position: relative;
}
/* Home page carousel - END */

/* Index - END */

/* Car-body & Mecanic & Maintenance & Sale presentation articles - START */
.prestation_article {
    background-color: var(--pale-grey);
    color: var(--dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.prestation_article_text, .prestation_article_image {
    width: 40%;
    height: auto;
    text-align: center;
}

/* Car-body & Mecanic & Maintenance & Sale presentation articles - END */


/* Sale - START */
.sale_article {
    background-color: var(--pale-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sale_article_title {
    background-color: var(--dark);
    width: 100%;
}

.sale_article_filters {
    width: 90%;
}

.sale_filters_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sale_filters_kilometer, .sale_filters_price, .sale_filters_year {
    background-color: var(--pale-red);
    width: 25%;
    height: auto;
}

.sale_kilometer_div, .sale_price_div, .sale_year_div {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-items: center;
}

.sale_article_cars { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sale_article_car {
    background-color: var(--dark);
    color: var(--pale-grey);
    width: 20%;
    height: auto ;
    margin: 1rem 0;
}

.sale_car_title {
    color: var(--pale-grey);
}

.sale_navigation_div {
    background-color: var(--dark);
    color: var(--pale-grey);
    padding: 0.2rem;
}
.sale_navigation_page {
    width: 2rem;
}


.car_article {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.car_section {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    color: var(--pale-grey);
    
    margin: 1rem 0;
}

.car_image {
    width: fit-content;
    margin: 1rem;
}

.car_text {
    display: flex;
    flex-direction: column;
}

/* Sale - END */


/* Contact & Opinion & Connection - START */

.confirmation_div {
    background-color: var(--pale-red);
    text-align: center;
}

.contact_article, .opinion_article, .connection_article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--pale-grey);
    padding: 0;        
}

.contact_article_form, .opinion_article_form {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--dark);
    color: var(--pale-grey);
}

.contact_form_shorts, .opinion_form_shorts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contact_form_short, .contact_form_short_title, .opinion_form_short, .contact_form_message, .opinion_form_comment {
    width: auto;
    text-align: left;
}

/* Contact & Opinion - END */

/* Static styles - END */


/* Dynamic styles - START */
.invisible {
    visibility: collapse;
    height: 0;
    position: absolute;
    z-index: -1;
}

.visible {
    visibility: visible;
    position: absolute;
    z-index: 0;
    width: 100%;
}

/* Modify the cursor when it hover a link */ 
a:hover, .link, #footer_courtesy {
    cursor: pointer;
}
/* Dynamic styles - END */


/* Responsive */
@media screen and (max-width: 900px) {
    /* Hide the navigation menu in the header */
    .header_navigation {
        display: none;
    }

    .logoGarage {
        margin-right: 1rem;
    }

    /* Change the display of the footer */
    footer, .footer_section {
        flex-direction: column;
    }

    /* Home page */
    .index_services_div{
        flex-wrap: wrap;
        row-gap: 2rem;
    }
    .index_service {
        height: 20rem;
        width: 20rem;
    }
    
    /* Sale page */
    .sale_article_car {
        width: 20rem;
    }

    .sale_filters_div {
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .sale_filters_kilometer, .sale_filters_price, .sale_filters_year {
        width: auto;
    }
}