<!-- Section to filter the display of the cars -->
<section class="sale_article_filters">
    <h3>Filtres</h3>
    <div class="sale_filters_div">

        <!-- Filter by kilometers -->
        <div class="sale_filters_kilometer">
            <h4>Kilométrage</h4>
            <div class="sale_kilometer_div">
                <div class="sale_min_km_div">
                    <label for="min_km">min.</label>
                    <input id="min_km" type="number" value="0">
                </div>
                <div>
                    <label for="max_km">max.</label>
                    <input id="max_km" type="number" value="2000000">
                </div>                          
            </div>                        
        </div>

        <!-- Filter by price -->
        <div class="sale_filters_price">
            <h4>Prix</h4>
            <div class="sale_price_div">
                <div>
                    <label for="min_price">min.</label>
                    <input id="min_price" type="number" value="0">
                </div>
                <div>
                    <label for="max_price">max.</label>
                    <input id="max_price" type="number" value="500000">
                </div>  
            </div>
        </div>
        
        <!-- Filter by year -->
        <div class="sale_filters_year">
            <h4>Années</h4>
            <div class="sale_year_div">
                <div>
                    <label for="min_year">min.</label>
                    <input id="min_year" type="number" value="1900">
                </div>
                <div>
                    <label for="max_year">max.</label>
                    <input id="max_year" type="number" value="2024">
                </div>
            </div>
        </div>
    </div>                    
</section>
